body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #BE5504;
    text-align: center;
    color: white;
    padding: 20px;
}
.name {
    color: white;
}
.navigation {
    color: white;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #0066cc;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

/* Additional styles for better layout and readability */

h1, h2, h3 {
    color: #2c3e50;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #e7f2fe;
    border-radius: 5px;
}

.project h3 {
    color: #3498db;
}

#contact p {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
}