body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #D98324;
    text-align: center;
    color: #EFDCAB;
    padding: 20px;
}
.name {
    color: #443627;
}
.navigation {
    color: #EFDCAB;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #0066cc;
}

.project {
    border: 1px solid #ddd;
    background-color: #CFE8EF;
    padding: 10px;
    margin-bottom: 20px;
}

/* Additional styles for better layout and readability */

h1, h2, h3 {
    color: #2c3e50;
}

img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #CFE8EF;
    padding: 10px;
    margin-bottom: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #e7f2fe;
    border-radius: 5px;
}

.project h3 {
    color: #3498db;
}

#contact p {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #FF8C42;
    margin-top: 20px;
}